@charset "UTF-8";
:root {
  --silver: rgb(190,190,190);
  --mid-gray: rgb(200,200,205);
  --darker-gray: rgb(120,120,150);

  /* Translucents */
  --super-light-grey-tr: rgba(255,255,255,0.2);
  --silver-tr: rgba(190,190,190,0.5);
  --mid-gray-tr: rgba(200,200,205,0.5);
  --darker-gray-tr: rgba(120,120,150,0.5);
}
html,
body {
  height: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(
    var(--silver-tr),
    var(--mid-gray-tr),
    var(--darker-gray-tr)
  );
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
}
h1 {
  font-weight: 100;
  font-size: 7rem;
  margin: 0;
}
#container {
  height: 100%;
  padding: 1vh 2.5vw;
  background: linear-gradient(
    var(--silver-tr),
    var(--mid-gray-tr),
    var(--darker-gray-tr)
  );

}
.page-header {
  text-align: center;
}
.controls, .days{
  display: flex;
  -ms-align-items: center;
  align-items:flex-start;
  justify-content: space-around;
  padding: 1rem;
}
.controls {
  background: url(assets/seasons.jpg) 0 32.5%;
  /* 5%, 32.5%, 62.5%, 92.5 */
}
.control, .daily-weather {
  border: 5px solid var(--super-light-grey-tr);
  width: 30%;

  border-radius: 5px;
  margin: 0 2rem;
  padding: 1rem;
}
.temperature {
  font-size: 2em;
  font-weight: bold;

}
.temperature.today {
  font-size: 4em;
}