body {
  background-color: #1b69f9;
}

.red {
  color: red;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.cloudy {
    background-color: lightgrey;
  }

  .sunny {
    background-color: rgb(221, 255, 255);
  }

  .rainy {
    background-color: lightblue;
  }

  .snowy {
    background-color: lightsteelblue;
  }

#upperContent {
  display: flex;
  justify-content: space-evenly;
}

#lowerContent > h2 {
  display: flex;
  justify-content: center;
}

#gardenContent {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 230px;
  justify-content: space-around;
  margin-left: 400px;
  margin-right: 400px;
  border: 2px gray solid;
  border-radius: 8px;
  font-size: 2em;
}

.temp-section {
  border: solid 1px black;
  padding: 2rem;
  border-radius: 8px;
  background-color: white;
}

#temperature {
  display: flex;
  justify-content: center;
}

#temp-controls {
  display: flex;
  justify-content: center;
}

.sky-section > h2{
  text-align: center;
  background-color: white;
}

.sky-section {
  border: solid 1px black;
  padding: 2rem;
  border-radius: 8px;
  background-color: white;
}

.city-name-section {
  border: solid 1px black;
  text-align: center;
  padding: 2rem;
  border-radius: 8px;
  background-color: white;
}

header {
  display: flex;
  align-items: center;
  color: white;
}

header > h1 {
  padding-right: 10px;
  font-size: 45px;
}

#headerCityName::before, #headerCityName::after {
  content: "✨";
}